* {
    margin: 18px auto 18px auto;
    background-color: rgb(244, 196, 48);
}

#recipe-pic-container {
    background-color: black;
}

.recipe-pic {
    display: block;
    height: 480px;
    margin-bottom: 36px;
    width: auto;
}

#description {
    margin-bottom: 36px;
}

/* #description-title, #description {
    background-color: rgb(239, 144, 103);
} */

div.ul-list-container {
    text-align: center;
    background-color: navy;
}

div.ol-list-container {
    text-align: center;
}

h1, h2 {
    color: black;
    background-color: rgb(239, 144, 103);
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

ul, ul li {
    color: white;
    background-color: navy;
}

ul, ol {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px auto 0px auto;
    text-align: left;
}

a {
    text-decoration: none;
}