* {
    margin: 18px auto 18px auto;
}

.casc-body {
    background-color: rgb(244, 196, 48);
}

.g-body {
    background-color: rgb(246, 243, 235);
}

.ct-body {
    background-color: rgb(252, 240, 131);
}

#casc-recipe-pic-container {
    background-color: black;
}

.casc-recipe-pic, .g-recipe-pic, .ct-recipe-pic {
    display: block;
    height: 480px;
    margin-bottom: 36px;
    width: auto;
}

.g-recipe-pic {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(78, 53, 36);
}

#casc-description {
    margin-bottom: 36px;
}

div.list-container {
    text-align: center;
}

div.casc-ul {
    background-color: navy;
}

.casc-body h1 {
    font-size: 3em;
}

.casc-body h2 {
    font-size: 2em;
}

.casc-body h1, .casc-body h2 {
    color: black;
    background-color: rgb(239, 144, 103);
    text-align: center;
    margin-bottom: 0px;
    font-family: Baskerville, "Bradley Hand", "Trebuchet MS";
}

.g-body h1 {
    font-size: 4em;
}

.g-body h2 {
    font-size: 3em;
}

.g-body h1, .g-body h2 {
    color: rgb(30, 50, 93);
    text-align: center;
    margin-bottom: 0px;
    font-family: "Brush Script MT", "Trebuchet MS", "Courier New";
}

.ct-body h1 {
    font-size: 3em;
}

.ct-body h2 {
    font-size: 2em;
}

.ct-body h1, .ct-body h2 {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Bradley Hand", "Trebuchet MS", "Courier New";
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.casc-ul ul {
    color: white;
    background-color: navy;
}

ul, ol {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px auto 0px auto;
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

a {
    text-decoration: none;
}

