* {
    margin: 18px auto 18px auto;
}

.recipe-pic {
    display: block;
    height: 480px;
    margin-bottom: 36px;
    width: auto;
}

#description {
    margin-bottom: 36px;
}

div.list-container {
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

ul, ol {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px auto 0px auto;
    text-align: left;
}

a {
    text-decoration: none;
}