* {
    background-color: rgb(255, 250, 217);
}

h1#title {
    background-color: rgb(245, 234, 173);
    font-family: Georgia, "Trebuchet MS", "Courier New";
    font-size: 56px;
    text-align: center;
}

p {
    text-align: center;
}

.recipe {
    color: rgb(65, 0, 0);
    font-family: "Brush Script MT", "Trebuchet MS", "Courier New";
    font-size: 48px;
    text-decoration: none;
}