h1#title {
    font-family: Georgia, "Trebuchet MS", "Courier New";
    font-size: 4em;
    text-align: center;
}

p {
    text-align: center;
}

.recipe {
    color: black;
    font-family: "Trebuchet MS", "Courier New";
    font-size: 2em;
    text-decoration: none;
}